In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

### Walmart Sales Data

For the independent practice, we will analyze the weekly sales data from Walmart over a two year period from 2010 to 2012.

The data is again separated by store and by department, but we will focus on analyzing one store for simplicity.

The data includes:

- Store - the store number
- Dept - the department number
- Date - the week
- Weekly_Sales -  sales for the given department in the given store
- IsHoliday - whether the week is a special holiday week

#### Loading the data and setting the DateTimeIndex

In [2]:
data = pd.read_csv('data/train.csv')
data['Date'] = pd.to_datetime(data['Date'])
data.set_index('Date', inplace=True)
data.head()

            Store  Dept  Weekly_Sales  IsHoliday
Date
2010-02-05      1     1      24924.50      False
2010-02-12      1     1      46039.49       True
2010-02-19      1     1      41595.55      False
2010-02-26      1     1      19403.54      False
2010-03-05      1     1      21827.90      False

In [3]:
data.tail()

            Store  Dept  Weekly_Sales  IsHoliday
Date
2012-09-28     45    98        508.37      False
2012-10-05     45    98        628.10      False
2012-10-12     45    98       1061.02      False
2012-10-19     45    98        760.01      False
2012-10-26     45    98       1076.80      False

#### Filter the dataframe to Store 1 sales and aggregate over departments to compute the total weekly sales per store.

In [7]:
# TODO

#### Plot the rolling_mean for `Weekly_Sales` with a window size of 3. What general trends do you observe?

In [8]:
# TODO

#### Compute the 1, 2, 52 autocorrelations for `Weekly_Sales` and/or create an autocorrelation plot.

In [9]:
# TODO

In [10]:
# TODO

In [11]:
# TODO

#### Split the weekly sales data in a training and test set - using 75% of the data for training (hint: use Python array indices)

In [12]:
# TODO

#### Create an AR(1) model on the training data and compute the mean absolute error of the predictions 
- hint: use model.predict('start_date', 'end_date') to get the predictions

In [13]:
# TODO

#### Plot the residuals - where are their significant errors.

In [14]:
# TODO

#### Compute and AR(2) model and an ARMA(2, 2) model - does this improve your mean absolute error on the held out set.

In [15]:
# TODO