In [1]:
from __future__ import unicode_literals

import pandas as pd
import numpy as np
from datetime import date
import urllib
import glob
import matplotlib.pyplot as plt
import seaborn as sb
%matplotlib inline

### For reference - downloading of weather files

data_url = "http://www.weather.gov.sg/files/dailydata/"
file_header = "DAILYDATA_S24_"
file_type = ".csv"
data_dir = "data/weather/"

for year in range(1980, 2017):
    for month in range(1, 13):
        d = date(year, month, 1)
        file_name = file_header + d.strftime("%Y%m") + file_type
        file_url = data_url + file_name
        urllib.urlretrieve(file_url, data_dir + file_name)

allFiles = glob.glob(data_dir + "*.csv")
frame = pd.DataFrame()
list_ = []
for file_ in allFiles:
    df = pd.read_csv(file_, index_col=None, header=0, encoding='iso-8859-1')
    list_.append(df)
frame = pd.concat(list_)

frame = frame.applymap(lambda x: x.encode('ascii', errors='ignore') if type(x) == unicode else x)

frame.to_csv("data/full_weather_new.csv", encoding='iso-8859-1', index=False)

### Start of Lab

In [2]:
weather = pd.read_csv("data/full_weather_new.csv", encoding='iso-8859-1')

In [3]:
weather.columns = ['Station', 'Year', 'Month', 'Day', 'Daily_Rainfall_Total', 'Highest_30Min_Rainfall', 
                   'Highest_60Min_Rainfall', 'Highest_120Min_Rainfall', 'Mean_Temperature', 'Max_Temperature',
                   'Min_Temperature','Mean_Wind_Speed', 'Max_Wind_Speed']

In [4]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13515 entries, 0 to 13514
Data columns (total 13 columns):
Station                    13515 non-null object
Year                       13515 non-null int64
Month                      13515 non-null int64
Day                        13515 non-null int64
Daily_Rainfall_Total       13515 non-null float64
Highest_30Min_Rainfall     1095 non-null float64
Highest_60Min_Rainfall     1095 non-null float64
Highest_120Min_Rainfall    1095 non-null float64
Mean_Temperature           12784 non-null float64
Max_Temperature            12784 non-null float64
Min_Temperature            12784 non-null float64
Mean_Wind_Speed            12409 non-null float64
Max_Wind_Speed             12408 non-null float64
dtypes: float64(9), int64(3), object(1)
memory usage: 1.3+ MB

In [5]:
weather.head()

,Station,Year,Month,Day,Daily_Rainfall_Total,Highest_30Min_Rainfall,Highest_60Min_Rainfall,Highest_120Min_Rainfall,Mean_Temperature,Max_Temperature,Min_Temperature,Mean_Wind_Speed,Max_Wind_Speed
0,Changi,1980,1,1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Changi,1980,1,2,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Changi,1980,1,3,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Changi,1980,1,4,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Changi,1980,1,5,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Create Date Index

In [6]:
weather['Date'] = pd.to_datetime(weather[['Year','Month','Day']])

In [7]:
weather.set_index('Date', inplace=True)

#### Filter the data for rows in August 2015

In [8]:
# TODO

#### Using seaborn's factorplot, create a boxplot of mean temperature by month

In [9]:
# TODO

#### Plot lines of the max and min daily temperatures in 2016

In [10]:
# TODO

#### Calculate the Autocorrelation for Daily Rainfall Total with one day and 365 day lags

In [11]:
# TODO

#### Calculate the Autocorrelation for Mean Temperature with one day and 365 day lags

In [12]:
# TODO

#### Plot the mean temperatures resampled over a monthly period from 2012 to 2017 (calculate the resamples using both median and mean)

In [13]:
# TODO

#### Plot the rolling mean of monthly mean temperatures from 2012 to 2017. Use a window = 3 and center = True

In [14]:
# TODO

#### Which month saw the greatest increase in Mean Temperature compared to the previous month?

In [15]:
# TODO

#### Plot the expanding mean of monthly mean temperatures

In [16]:
# TODO

#### What other interesting insights can you obtain from the data?